menu "BBQ Configuration"
    config PROBE1_GPIO
        int "GPIO for probe 1 ADC"
        range 32 39
        default 35

    config PROBE2_GPIO
        int "GPIO for probe 2 ADC"
        range 32 39
        default 36
                                   
    config VREF_GPIO
        int "GPIO for the reference voltage reading ADC"
        range 32 39
        default 34

    config PROBE_RESISTOR_OHMS
        int "Value of the resistor connected to the probe, in ohms"
        default 10000
        
    config FAN_CONTROL_GPIO
        int "GPIO to control the fan"
        range 0 48
        default 27
                
    config TICK_PERIOD
        int "Tick duration in milliseconds"
        range 10 3600000
        default 100

    config DUTY_PERIOD
        int "Duty cycle length in ticks"
        range 10 100000
        default 100

    config REPORT_PERIOD
        int "Report period in ticks"
        range 1 3600000
        default 50

    config DATA_ENDPOINT
        string "URL to push data"
        default "https://bbqbe.hjfreyer.repl.co/device/data"

    config INITIAL_THRESHOLD
        int "Initial threshold (deg F)"
        default 225
endmenu
